@model List<WebApp.Models.Olympics.EventViewModel>

<h1>Lista wydarzeń sportowca</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nazwa dyscypliny</th>
        <th>Nazwa wydarzenia</th>
        <th>Olimpiada</th>
        <th>Sezon</th>
        <th>Wiek podczas wydarzenia</th>
        <th>Medal</th>
        <th>Dodaj udział</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SportName</td>
            <td>@item.EventName</td>
            <td>@item.Olympics</td>
            <td>@item.Season</td>
            <td>@item.AgeDuringEvent</td>
            <td>@item.Medal</td>
            <td>
                <a asp-action="AddEvent" asp-route-id="@item.EventName" class="btn btn-primary">Dodaj wydarzenie</a>
            </td>
        </tr>
    }
    </tbody>
</table>
